<div class="container mt-5">
  <h2>Your Cart ({{ cart.length }} items)</h2>

  @if (cart.length > 0) {
    @for (item of cart; track $index) {
      <div class="card mb-3 p-3">
        <div class="row">
          <div class="col-md-2">
            <img [src]="item.image" class="img-fluid">
          </div>
          <div class="col-md-6">
            <h5>{{ item.title }}</h5>
            <del class="text-secondary">{{ item.price }}</del>
            <span class="ms-2" ><span class="text-success" style="font-weight: bold;font-size: 20px;">$</span>{{ item.price | discountprice:item.discount }}</span>
            <span  class="me-2"
          style="width: 25px; height: 25px; background-color: red; color: white; border-radius: 50%; font-size: 13px; display: inline-block; text-align: center;"
        >{{item.discount }}% </span><span>off</span>
            <div class="mt-2">
              <button class="btn btn-secondary btn-sm" (click)="decreaseQty(item)">-</button>
              <span class="mx-2">{{ item.quantity }}</span>
              <button class="btn btn-secondary btn-sm" (click)="increaseQty(item)">+</button>
            </div>
          </div>
          <div class="col-md-4 text-end">
            <button class="btn btn-danger" (click)="removeItem(item.id)">🗑 Remove</button>
          </div>
        </div>
      </div>
    }

    <!-- التوتال -->
    <div class="text-end fw-bold fs-4 my-3">
      Total: {{ getTotal() | number:'1.2-2' }} EGP
    </div>

    <!-- زر الإرسال -->
    <div class="text-end">
      <button class="btn btn-primary me-2 mb-2" routerLink="/home">Countinue shoping</button>
      <button class="btn btn-success mb-2">Checkout</button>
    </div>
  } @else {
    <p>No items in the cart.</p>
  }
</div>
